body{
    margin: 0;
    padding: 0; 
    font-family: 'Space Grotesk', sans-serif  !important;
    scroll-behavior: smooth !important;
}
.cat{
  display: none;

}
.white{
    color: white;
}
.bar{
   display: flex;
   justify-content: space-between;
  
}
.black{
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2) !important;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9995;
    width: 100%;
}
.hamburger{
    width: 40px;
    height: 20px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    cursor: pointer;
    position: relative;
    top: 15px;
    border: none;
}
.hamburger::after{
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
}
.hamburger .onions, .hamburger::after{
    height: 2px;
    width: 70%;
    background-color: black;
    transition: width 300ms, transform 300ms;
}

.hamburger.active::after{
    width: 0;
}
.hamburger.active .onions {
    background-color: black;
}
.hamburger.active .onions:nth-child(1){
    width: 50%;
    transform: rotate(40deg) translateY(8px) translateX(4px);
}
.hamburger.active .onions:nth-child(2){
    width: 50%;
    transform: rotate(-40deg) translateY(-9px) translateX(4px);
}
.width{
    width: 150px;
    position: relative;
    top: 7px;
    padding: 0px 0px 8px 0px;
}
@media(min-width:800px){
    .bar{
        display: none;
    }
}
@media(max-width:800px){
    .bar2{
        display: none;
    }
}
@media(max-width:600px){
    .vegas-slide{
        display: none;
    }
}

.vegas-slide{
    background:linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.048)), url("./../img/home\ \(1\).jpg");
    background-size: cover;
    height: 751px;
}
@media(min-width:600px){
    #myVideo{
        display: none;
    }
}

@media(min-width:600px){
    .small{
        display: none;
    }
}
@media(min-width:600px){
    .small2{
        display: none;
    }
}
.small{
    position: absolute;
    z-index: 3;
}
.dark{
    position: absolute;
    z-index: 1;
}
.arquitectura2{
    color: white;
    font-size: 29px;
    font-weight: bold;
    padding-top: 70px;
    position: relative;
    top: 25px;
   
}
.autotype2{
    color: white;
    font-size: 25px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.home{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-right: 12px;
}
.kane{
    padding: 18px 0px 0px 0px;
}
.home:active{
    border-bottom: 1px solid white;
    text-decoration: none;
}
.home:hover{
    color: rgb(97, 97, 97);
    text-decoration: none;
}
.home2:hover{
    color:  rgb(97, 97, 97);
    text-decoration: none;
}       
.home2{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-right: 12px;
    display: block;
    padding-top: 8px;
    padding-right: 9px;
}
.arquitectura{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
    position: relative;
    top: 30px;
}
.autotype{
    color: white;
    font-size: 45px;
   
}
.autotyped{
    color: white;
    font-weight: normal;
}
.Realities{
    color: white;
    position: relative;
    bottom: 20px;
}
.contact{
    border: none;
    background-color:black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
    font-size: 18px;
}
.contact:hover{
    color: black;
    background-color:white;
    transition: 400ms;
}
.read{
    color: rgb(221, 221, 221);
}
.read:hover{
    color: rgb(236, 234, 234);
    text-decoration: none;
}
.box{
    --size:55px;
    width: var(--size);
    height: var(--size);
    transition: transform 200ms;  
}
.item{
    width: 100%;
    height: 100%; 
    border-radius: 5px;   
}
.box:nth-child(1) .item{

    color:white;
}
.box:nth-child(2) .item{
    color:white;
}

.box:nth-child(3) .item{
    
    color:white;
}
.box:nth-child(4) .item{
    color:white;
}
.box:nth-child(5) .item{
    color:white;
}
.box:nth-child(6) .item{
    color:white;
}
.box:has(+ .box:hover) {
    transform: scale(1) translateY(-9px);
}
.box:hover +.box{
    transform: scale(1) translateY(-9px);
}
.box:hover{
    transform: scale(1.6) translateY(-18px);
    
}

.con{
    display: flex;
    flex-wrap: wrap;
    padding-top: 37px;
    position: relative;
    bottom: 35px;
}
.Services{
    font-family: 'Space Grotesk', sans-serif;
    color: black !important;
}
.center{
   text-align: center;
}
.AEC{
    font-weight: bold;
    font-size: 19px;
}
.strive{
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(95, 95, 95);
}
.LOL{
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2) !important;
    padding: 30px 5px 20px 5px;
    margin-top: 20px;
}

@media(max-width:1000px){
    .render{
    width: 100%;
}
}
@media(min-width:1000px){
    .render{
    width: 70%;
    margin-left: 140px;
}
}
@media(max-width:1000px){
    .render2{
    width: 100%;
}
}
@media(min-width:1000px){
    .render2{
    width: 70%;
    margin-right: 140px;
}
}
@media(min-width:1000px){
    .pic{
    width: 70%;
    margin-left: 140px;
    margin-top: 20px;
}
}
@media(min-width:1000px){
    .pic2{
    width: 70%;
    margin-right: 140px;
    margin-top: 20px;
}
}
.Creativity{
    font-weight: bold;
    font-size: 19px;
}
.Intelligence{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
}
.render{
    border-radius: 5px;
}
.render2{
    border-radius: 5px;
}

.footer{
    background-color: black;
    margin-top: 70px;
    padding: 20px 0px 10px 0px;
}
.glow{
    color: white;
    font-family: 'Space Grotesk', sans-serif ;
}
.Quick{
    font-weight: bold;
    color: white;
    font-family: 'Space Grotesk', sans-serif ;
    font-size: 20px;

}
.link{
    color: rgb(189, 189, 189);
    font-family: 'Space Grotesk', sans-serif ;
    display: block;
    padding-top: 5px;
}
.link:hover{
    color: white;
    text-decoration: none;
}
.submit{
    background-color: white;
    color: black;
    border: none;
    margin-top: 20px;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    font-size: 18px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.submit:hover{
    background-color: white;
    color: black;
    border: black 1px solid;
}
.myform{
    width: 80%;
    border-bottom: 1px white solid !important;
    background-color: black;
    border: none;
    color: white;
}
.myform:focus-visible{
    outline: none;  
}
.teatarea{
    width: 80%;
    color: white;
    background-color: black;
}
.teatarea:focus-visible{
    outline: none;
}
#one{
    color:red;
}
.bi{
    color: white;
}
.bi:hover{
    color: white;
}
.left{
    padding-left: 13px;  
}
@media(max-width:780px){
    .media1{
        display: none;
    }
}
@media(min-width:780px){
    .media2{
        display: none;
    }
}
.Copyright{
    color: white;
    font-family: 'Space Grotesk', sans-serif ;
    font-size: 13px;
    padding-top: 30px;
}
.SAIU{
    color: rgb(189, 188, 188);

}
.SAIU:hover{
    text-decoration: none;
    color: white;
}
.dud{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}.dud2{
    display: flex;
    flex-wrap: wrap;
}


